#container {
    display: flex;
    width: 100%;
    height:100vh;

    flex-direction: row;
}

#left_column {
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    flex-direction: column;
}

#main_deck_column {
    flex-grow: 1;
    flex-basis: 0;

    overflow-y: scroll;

    background-color: #f3f3f3;
}

#lrig_deck_column {
    flex-grow: 1;
    flex-basis: 0;

    overflow-y: scroll;

    background-color: #f8f8f8;
}

#right_column {
    flex-grow: 2;
    flex-basis: 0;

    display: flex;
    flex-direction: column;
}

/* left column */

#card_information {
    flex-grow: 5;
    flex-basis: 0;
}

#control_buttons {
    flex-grow: 2;
    flex-basis: 0;

    padding: 50px;
}

/* right column */

#right_header {
    display: flex;
    flex-direction: row;
    height: 100px;
}

#deck_valid {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    text-align: center;
}

#app_header {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    text-align: center;
}

#card_list {
    flex-grow: 1;
    flex-basis: 0;

    background-color: #fcfcfc;

    overflow-y: auto;
}

.deck_invalid {
    color: #AA0000;
}

.deck_valid {
    color: #00AA00;
}

.card_box {
    display: inline-block;
    padding: 5px;

    float: left;
}

.card_big {
    height: 200px;
}

.card_small {
    height: 100px;
}

.card_box_inner {
    background-color: #fff;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.card_image {
    height: 100%;
}

.card_right {
    height: 100%;

    flex-basis: 0;
    flex-grow: 1;
    padding: 5px;

    display: flex;
    flex-direction: column;
}

.card_text {
    overflow-y: auto;

    flex-basis: 0;
    flex-grow: 1;

    /*padding: 5px;*/
}

.card_title {
    word-wrap: break-word;
    font-weight: bold;
    padding: 5px 0px 0px 5px;
}

.card_desc {
    word-wrap: break-word;
    font-size: smaller;
    margin-top: 10px;

}

.hidden {
    display: none;
}

.card_control {
    height: 20px;
    text-align: right;
    overflow: visible;
}

.size_button {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.card_control_button {
    display: inline-block;
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.card_delete_button {
    color: red;
    font-weight: bolder;
}

.card_count {
    display: inline-block;
    line-height: 20px;
}

